:root {
  --icon-size: 28px;
  --background-color: rgb(204, 220, 255);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--background-color);
  overflow: hidden;
}

nav {
  min-width: 300px;
  height: 90px;
  border-radius: 30px;
  -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.01), 0 12px 10px rgba(0, 0, 0, 0.01), 0 30px 25px rgba(0, 0, 0, 0.012), 0 100px 80px rgba(0, 0, 0, 0.02);
          box-shadow: 0 5px 6px rgba(0, 0, 0, 0.01), 0 12px 10px rgba(0, 0, 0, 0.01), 0 30px 25px rgba(0, 0, 0, 0.012), 0 100px 80px rgba(0, 0, 0, 0.02);
}

nav ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  background: white;
}

nav ul li.left {
  padding-left: 10px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 10px;
}

nav ul li.right {
  padding-right: 10px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 10px;
}

nav .icon {
  height: var(--icon-size);
  width: var(--icon-size);
  cursor: pointer;
}

nav .icon svg {
  height: var(--icon-size);
  width: var(--icon-size);
  fill: var(--background-color);
}

nav button {
  --size: 75px;
  border: none;
  background: none;
  position: relative;
  width: var(--size);
  height: var(--size);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

nav button span {
  width: var(--size);
  height: var(--size);
  border-radius: 50px;
  background: #75a0ff;
  -webkit-box-shadow: 0 0 0 12px var(--background-color);
          box-shadow: 0 0 0 12px var(--background-color);
  -webkit-transition: height 200ms ease, margin 200ms ease;
  transition: height 200ms ease, margin 200ms ease;
  overflow: hidden;
}

nav button .icon {
  --icon-size: 24px;
  cursor: pointer;
  -webkit-transition: opacity 200ms ease, -webkit-transform 320ms ease;
  transition: opacity 200ms ease, -webkit-transform 320ms ease;
  transition: transform 320ms ease, opacity 200ms ease;
  transition: transform 320ms ease, opacity 200ms ease, -webkit-transform 320ms ease;
}

nav button .icon svg {
  fill: #fff;
}

nav button .icon.plus {
  width: var(--size);
  height: var(--size);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav button .icons-container {
  width: 100%;
  height: calc(2 * var(--size));
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav button .icons-container .icon {
  background: rgba(204, 220, 255, 0.25);
  width: calc(1.8 * var(--icon-size));
  height: calc(1.8 * var(--icon-size));
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: calc(-25% + var(--index) * 40%);
  -webkit-transform: translate(-50%, 100%) rotate(-45deg);
          transform: translate(-50%, 100%) rotate(-45deg);
  -webkit-transition: background 150ms ease, -webkit-transform 300ms cubic-bezier(0.65, -0.55, 0.25, 1.25);
  transition: background 150ms ease, -webkit-transform 300ms cubic-bezier(0.65, -0.55, 0.25, 1.25);
  transition: transform 300ms cubic-bezier(0.65, -0.55, 0.25, 1.25), background 150ms ease;
  transition: transform 300ms cubic-bezier(0.65, -0.55, 0.25, 1.25), background 150ms ease, -webkit-transform 300ms cubic-bezier(0.65, -0.55, 0.25, 1.25);
  -webkit-transition-delay: calc(var(--index) * 55ms);
          transition-delay: calc(var(--index) * 55ms);
}

nav button .icons-container .icon:hover {
  background: rgba(204, 220, 255, 0.45);
}

nav button:focus {
  border: none;
  outline: none;
}

nav button:focus span {
  height: calc(2.6 * var(--size));
  margin-top: calc(-1.6 * var(--size));
}

nav button:focus .icon.plus {
  -webkit-transform: translateY(-50px) rotate(180deg);
          transform: translateY(-50px) rotate(180deg);
  opacity: 0;
}

nav button:focus .icons-container .icon {
  -webkit-transform: translate(-50%, -50%) rotate(0);
          transform: translate(-50%, -50%) rotate(0);
}

nav button::-moz-focus-inner {
  border: none;
}

.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.support a {
  margin: 0 10px;
  color: #333333;
  font-size: 1.8rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.support a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=style.css.map */